@inherits AvaliableStockComponent
@page "/avaliable"
@* @page "/avaliable/{slide}" *@
@rendermode InteractiveServer
@* @using Microsoft.AspNetCore.Authorization
@attribute [Authorize] *@
@layout OrderTrackBlazor.Components.Layout.MainLayout2
<PageTitle>可用库存</PageTitle>
<div class="visually-hidden">
  <WebSpeech @ref="WebSpeech" ShowSpeechInfo="false" />
</div>

@if (slide != null)
{
  @if (SummaryDTOsArray?.Any() == true)
  {
    <Carousel Id="C1" @ref="crousel" Width="640" style="height:480px;" IsFade="true" PlayMode="CarouselPlayMode.AutoPlayOnload">
      @foreach (var item in SummaryDTOsArray)
      {
        <CarouselItem>
          <CaptionTemplate>
            <h5>@item.Name (@item.CurrentStock)</h5>
            <p>@item.CategoryName</p>
          </CaptionTemplate>
          <ChildContent>
            <div style="height:480px;">
              <img src="@item.Image" alt="demo-image" />
            </div>

          </ChildContent>
        </CarouselItem>
      }
    </Carousel>
  }



}
else
{
  if (SummaryDTOs?.Any() == true)
  {
    var index = 0;
    foreach (var category in SummaryDTOs.GroupBy(b => (b.CategoryName, b.CategoryDisplayOrder))
    .OrderByDescending(b => b.Key.CategoryDisplayOrder)
    .ThenBy(b => b.Key.CategoryDisplayOrder)
    .ThenBy(b => b.Key.CategoryName))
    {
      <Card>
        <HeaderTemplate>
          @category.Select(b => b.CategoryName).FirstOrDefault()
        </HeaderTemplate>
        <BodyTemplate>
          <div class="row g-3">
            @foreach (var dto in category)
            {
              index++;
              var current = index;
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <Card Color="Color.Success">
                  <HeaderTemplate>
                    编号: @current 数量: @dto.CurrentStock
                  </HeaderTemplate>
                  <BodyTemplate>
                    <div style="height:425px">
                      <ImageViewer Url="@dto.Image" FitMode="ObjectFitMode.Contain" />
                    </div>
                    <div style="font-size:1rem; min-height:3rem">
                      @dto.Name
                    </div>
                  </BodyTemplate>
                </Card>
              </div>

            }
          </div>
        </BodyTemplate>
      </Card>
    }
  }
}

@{


}

@* <table class="table table-hover">
  <thead>
    <tr>
      <th style="width:10%">编号</th>
      <th style="width:80%">产品名</th>
      <th style="width:15%">数量</th>
    </tr>
  </thead>
  <tbody>
    @{
      foreach (var dto in category)
      {
        index++;
        var current = index;
        <tr>
          <td>
            @current
          </td>
          <td>
            <div>
              @dto.Name
            </div>
            <div>
              <img src="@dto.Image" />
            </div>

          </td>
          <td>
            @dto.CurrentStock
          </td>
        </tr>
      }
    }
  </tbody>

</table> *@