@inherits AvaliableStockComponent
@page "/avaliable"
@rendermode InteractiveServer
@* @using Microsoft.AspNetCore.Authorization
@attribute [Authorize] *@
@layout OrderTrackBlazor.Components.Layout.MainLayout2
<PageTitle>可用库存</PageTitle>
@{
  if (SummaryDTOs?.Any() == true)
  {
    var index = 0;
    foreach (var category in SummaryDTOs.GroupBy(b => b.CategoryDisplayOrder)
    .OrderByDescending(b => b.Key.HasValue)
    .ThenBy(b => b.Key))
    {
      <Card>
        <HeaderTemplate>
          @category.Select(b => b.CategoryName).FirstOrDefault()
        </HeaderTemplate>
        <BodyTemplate>
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width:10%">编号 (Id)</th>
                <th style="width:80%">(数量) 产品名</th>
                <th style="width:15%">数量</th>
              </tr>
            </thead>
            <tbody>
              @{
                foreach (var dto in category)
                {
                  index++;
                  var current = index;
                  <tr>
                    <td>
                      @current (@dto.Id)
                    </td>
                    <td>
                      <div>
                        (@dto.CurrentStock) @dto.Name
                      </div>
                      <div>
                        <img src="@dto.Image" />
                      </div>

                    </td>
                    <td>
                      @dto.CurrentStock
                    </td>
                  </tr>
                }
              }
            </tbody>

          </table>
        </BodyTemplate>
      </Card>
    }
  }

}

