@page "/stock"
@rendermode InteractiveServer
@inherits StockComponent
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>stock</PageTitle>

<MainPage>
  <Header>
    <div>
      <BootstrapInputGroup>
        <BootstrapInputGroupLabel DisplayText="库存显示小时数量" />
        <BootstrapInput @bind-Value="DisplayHours" TValue="int?" />
        <Button Color="Color.Success" OnClickWithoutRender="()=>ShowAvaliable()">显示</Button>
        <Button Color="Color.Warning" OnClickWithoutRender="()=>ShowAvaliable(isVideo:true)">走马灯</Button>
        <Button Color="Color.Danger" OnClickWithoutRender="()=>ShowAvaliable(false)">停止</Button>
      </BootstrapInputGroup>

    </div>
  </Header>
  <Main>
    <Table TItem=" StockSummaryDTO" Items="@SummaryDTOs">
      <TableColumns>
        <TableColumn @bind-Field="@context.Image" Text="图片">
          <Template Context="value">
            <Avatar Url="@value.Value" Size="Size.Medium" />
          </Template>

        </TableColumn>
        <TableColumn @bind-Field="@context.CategoryName" Text="品类">
        </TableColumn>
        <TableColumn @bind-Field="@context.Name" Text="产品">
        </TableColumn>
        <TableColumn @bind-Field="@context.CurrentStock" Text="库存" Width="100">
          <Template Context="value">
            <span class="@(value.Value>0?"text-success":"")">@value.Value</span>
          </Template>
        </TableColumn>

        <TableColumn @bind-Field="@context.Id" Text="操作" Width="200">
          <Template Context="value">
            <Button Color="Color.Primary" Text="出入库" OnClickWithoutRender="()=>NormalShowDialog(value.Value)" />
            <Button Color="Color.Warning" Text="编辑" OnClickWithoutRender="()=> Maintain(value.Value)" />
          </Template>
        </TableColumn>

      </TableColumns>

    </Table>
  </Main>
</MainPage>