@page "/stock"
@rendermode InteractiveServer
@inherits StockComponent
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>stock</PageTitle>

<MainPage>
  <Header>
    <div>
      <Button Color="Color.Success" OnClickWithoutRender="()=>ShowAvaliable()">可用库存</Button>
    </div>
  </Header>
  <Main>
    <Table TItem=" StockSummaryDTO" Items="@SummaryDTOs">
      <TableColumns>
        <TableColumn @bind-Field="@context.Name" Text="产品">
        </TableColumn>

        <TableColumn @bind-Field="@context.CurrentStock" Text="库存">
          <Template Context="value">
            <span class="@(value.Value>0?"text-success":"")">@value.Value</span>
          </Template>
        </TableColumn>

        <TableColumn @bind-Field="@context.Id" Text="操作">
          <Template Context="value">
            <Button Color="Color.Primary" Icon="fas fa-arrow-trend-up" Text="入库详情" OnClickWithoutRender="()=>NormalShowDialog(value.Value)" />
          </Template>
        </TableColumn>

      </TableColumns>

    </Table>
  </Main>
</MainPage>