@inherits DispatchDetailComponent
<div class="row g-3">
  <div class="col-6 col-sm-6">
    <DateTimePicker @bind-Value="@Model.DispatchDate" Format="dd/MM/yyyy" ShowLabel="true" DisplayText="出库日期" />


  </div>
  <div class="col-6 col-sm-6">
    <Select Items="StatusItem" OnSelectedItemChanged="OnItemChanged" @bind-Value="SelectedStatusItem"
            ShowLabel="true"
            DisplayText="状态"></Select>
  </div>
  <div class="col-6 col-sm-6">
    <DateTimePicker @bind-Value="@Model.IncomeDate" Format="dd/MM/yyyy" ShowLabel="true" DisplayText="结账日期" />
  </div>
  <div class="col-6 col-sm-3">
    <BootstrapInputNumber @bind-Value="Model!.Income"
                          ShowLabel="true"
                          DisplayText="收入调整" />
  </div>
  <div class="col-6 col-sm-3">
    <BootstrapInputNumber @bind-Value="Model!.PackageNumber"
                          ShowLabel="true"
                          DisplayText="箱数" />
  </div>
  <div class="col-6">
    合计收入: @Model.TotalIncome
  </div>
  <div class="col-6">
    总采购数: @Model.EditItems.Sum(b => b.Number)
  </div>
  <div class="col-12">
    <Textarea placeholder="备注" rows="4" @bind-Value="Model!.Note" DisplayText="备注" ShowLabel="true" />
  </div>
  
  <div class="col-12">
    <Table TItem="DispatchDetailItemDTO" Items="Source" ShowFooter="true">
      <TableColumns>
        <TableColumn @bind-Field="@context.ProductionName" Text="产品">

        </TableColumn>
        <TableColumn @bind-Field="@context.RowId" Text="数量" Width="100">
          <Template Context="value">
            @{
              var item = Source.FirstOrDefault(b => b.RowId == value.Value);
            }
            <BootstrapInputNumber @bind-Value="item.Number"
                                  ShowLabel="false" />
          </Template>
        </TableColumn>
        <TableColumn @bind-Field="@context.RowId" Text="单价" Width="100">
          <Template Context="value">
            @{
              var item = Source.FirstOrDefault(b => b.RowId == value.Value);
            }
            <BootstrapInputNumber @bind-Value="item.DispatchPrice"
                                  ShowLabel="false" />
          </Template>
        </TableColumn>
        <TableColumn @bind-Field="@context.RowId" Text="总价" Width="100">
          <Template Context="value">
            @{
              var item = Source.FirstOrDefault(b => b.RowId == value.Value);
            }
            <BootstrapInputNumber @bind-Value="item.TotalPrice" IsDisabled="true"
                                  ShowLabel="false" />
          </Template>
        </TableColumn>
      </TableColumns>
      <TableFooter>
        <TableFooterCell Text="合计：" />
        <TableFooterCell Text="@Source.Sum(b=>b.Number).ToString()">

        </TableFooterCell>
        <TableFooterCell />
        <TableFooterCell Text="@Source.Sum(b=>b.TotalPrice).ToString()">

        </TableFooterCell>
      </TableFooter>
    </Table>
  </div>

</div>
