@page "/entity/order"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inherits OrderPageComponent


<div>
  <Button Color="Color.Primary" Icon="fa-solid fa-font-awesome" Text="添加订单" OnClickWithoutRender="()=>CreateProduction()" />
</div>

@if (Orders == null)
{
  <div>null</div>
}
else
{
  <div>
    <Table TItem="OrderDTO" Items="@Orders" butto>
      <TableColumns>
        <TableColumn @bind-Field="@context.OrderDate">
          <Template Context="value">
            <span>@value.Value?.ToString("dd/MM/yyyy")</span>
          </Template>
        </TableColumn>
        <TableColumn @bind-Field="@context.ShortNote" />
        <TableColumn @bind-Field="@context.Id" Text="操作">
          <Template Context="value">
            <Button Color="Color.Primary" Icon="fas fa-square-pen" Text="编辑" OnClickWithoutRender="()=>CreateProduction(value.Value)" />
          </Template>
        </TableColumn>
      </TableColumns>

    </Table>
  </div>
}

<Dialog></Dialog>