@page "/entity/packagesize"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inherits PackageSizePageComponent



@if (Packages == null)
{
  <div>null</div>
}
else
{
  <MainPage>
    <Header>
      <div>
        <Button Color="Color.Primary" Text="添加包装箱" OnClick="()=>NormalShowDialog()" />
      </div>
    </Header>
    <Main>
      <div>
        <Table TItem="OrderTrackPackageSize" Items="@Packages">
          <TableColumns>
            <TableColumn @bind-Field="@context.Name" Text="类型" />
            <TableColumn @bind-Field="@context.WeightGram" Text="重量 (g)" />
            <TableColumn @bind-Field="@context.DisplayOrder" Text="排序" />
            <TableColumn @bind-Field="@context.Id" Text="操作">
              <Template Context="value">
                <Button Color="Color.Success" Text="修改" OnClick="()=>NormalShowDialog(value.Value)" />
              </Template>
            </TableColumn>

          </TableColumns>
        </Table>
      </div>
    </Main>
  </MainPage>
}