@page "/entity/product"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inherits ProductionPageComponent

<MainPage>
  <Header>
    <div class="row g-3">
      <div class="col-12">
        <Button Color="Color.Primary" Text="添加产品" OnClickWithoutRender="()=>CreateProduction()" />
      </div>
    </div>
  </Header>
  <Main>
    @if (Productions == null)
    {
      <div>null</div>
    }
    else
    {
      <div>
        <Table TItem="ProductionDTO" Items="@Productions" butto>
          <TableColumns>

            <TableColumn @bind-Field="@context.Attachment" Text="图片" Width="100">
              <Template Context="value">
                <Avatar Url="@value.Value" Size="Size.Small" />
              </Template>
            </TableColumn>
            <TableColumn @bind-Field="@context.ProductionName" />
            <TableColumn @bind-Field="@context.OriginalPrice" Width="150" />
            <TableColumn @bind-Field="@context.Id" Text="操作" Width="100">
              <Template Context="value">
                <Button Color="Color.Success" Text="编辑" OnClickWithoutRender="()=>CreateProduction(value.Value)" />
              </Template>
            </TableColumn>
          </TableColumns>

        </Table>
      </div>
    }
  </Main>
</MainPage>

