@inherits PurchaseDetailComponent
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="row g-3">

  @if (Model is not null)
  {

    <div class="col-12 col-sm-6">
      <DateTimePicker @bind-Value="@Model.PurchaseDate" Format="dd/MM/yyyy" ShowLabel="true" DisplayText="购物日期" />
    </div>
    <div class="col-12 col-sm-6">
      <Select Items="Shops" @bind-Value="SelectedShop" OnSelectedItemChanged="SelectShop" ShowLabel="true" DisplayText="选择超市"> </Select>
    </div>

    <div class="col-12">
      <Button Color="Color.Primary" Icon="fa-solid fa-font-awesome" Text="添加订单产品" OnClickWithoutRender="()=>AddProduction()" />
    </div>

    @if (Model.Productions != null)
    {
      <div class="col-12">
        <Table TItem="OrderProductionDTO" Items="@Model.Productions.OrderByDescending(b=>b.CreateDate)" butto>
          <TableColumns>
            <TableColumn @bind-Field="@context.ProductionId">
              <Template Context="value">
                <span>@Productions.Where(b => b.Id == value.Value).Select(b => b.Name).FirstOrDefault()</span>
              </Template>
            </TableColumn>
            <TableColumn @bind-Field="@context.Quantity" />
            <TableColumn @bind-Field="@context.Gid" Text="操作">
              <Template Context="value">
                <Button Color="Color.Primary" Icon="fas fa-square-pen" Text="编辑" OnClickWithoutRender="()=>
                  AddProduction(Model.Productions.FirstOrDefault(b=>b.Gid==value.Value))" />
              </Template>
            </TableColumn>
          </TableColumns>

        </Table>
      </div>

    }
  }
</div>


