@page "/entity/shop"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inherits ShopPageComponent



@if (Shops == null)
{
  <div>null</div>
}
else
{
  <MainPage>
    <Header>
      <div>
        <Button Color="Color.Primary" Text="添加超市" OnClick="()=>NormalShowDialog()" />
      </div>
    </Header>
    <Main>
      <div>
        <Table TItem="OrderTrackShop" Items="@Shops">
          <TableColumns>
            <TableColumn @bind-Field="@context.Name" />
            <TableColumn @bind-Field="@context.PostCode" />
            <TableColumn @bind-Field="@context.Note" />
            <TableColumn @bind-Field="@context.DisplayOrder" />
            <TableColumn @bind-Field="@context.Id">
              <Template Context="value">
                <Button Color="Color.Success" Text="修改" OnClick="()=>NormalShowDialog(value.Value)" />
              </Template>
            </TableColumn>

          </TableColumns>
        </Table>
      </div>
    </Main>
  </MainPage>
  

  @* <Dialog></Dialog> *@
}