@inherits StockDispatchPackageComponent
@if (DTO != null)
{
  <div class="row g-3">
    <div class="col-12 col-sm-4">
      <Select Items="PackageSizes" OnSelectedItemChanged="OnItemChanged" @bind-Value="SelectedItem"
              ShowLabel="true"
              Color="Color.Success"
              DisplayText="箱子种类"></Select>
    </div>
    <div class="col-12 col-sm-4">
      <BootstrapInputNumber @bind-Value="DTO.PackagePrice"
                            ShowLabel="true"
                            Color="Color.Success"
                            DisplayText="每箱收入 (£)" />
    </div>
    <div class="col-12 col-sm-4">
      <BootstrapInputNumber @bind-Value="DTO.PackageWeight"
                            Color="Color.Success"
                            ShowLabel="true" DisplayText="重量 (kg)" />
    </div>
    <div class="col-12">
      <BootstrapInput @bind-Value="DTO.BriefDiscribtion"
                      Color="Color.Success"
                      ShowLabel="true" DisplayText="描述" />
    </div>
    <div class="col-12">
      <Textarea rows="4" @bind-Value="DTO.Discribtion"
                Color="Color.Success"
                ShowLabel="true" DisplayText="详情" />
    </div>
  </div>
}
@if (DTO?.Items?.Any() == true)
{
  <div class="row g-3">
    <div class="col-12">
      <BootstrapInputNumber class="" @bind-Value="DTO.NumberInput"
                            Color="DTO.ColumnColor"
                            ShowLabel="true"
                            DisplayText="箱数" />
    </div>
    <div class="col-12">
      <Table TItem="StockDispatchPackageItemDTO" Items="@DTO.Items">
        <TableColumns>
          <TableColumn @bind-Field="@context.ProductionName" Text="产品">

          </TableColumn>
          <TableColumn @bind-Field="@context.ProductionId" Text="库存" Width="80">
            <Template Context="value">
              @{
                var item = DTO.Items.FirstOrDefault(b => b.ProductionId == value.Value);
                <BootstrapInputNumber @bind-Value="item.AvaliableStock"
                                      Color="Color.None"
                                      IsDisabled="true"
                                      ShowLabel="false" />
              }

            </Template>
          </TableColumn>
          <TableColumn @bind-Field="@context.ProductionId" Text="剩余" Width="80">

            <Template Context="value">
              @{
                var item = DTO.Items.FirstOrDefault(b => b.ProductionId == value.Value);
                <BootstrapInputNumber @bind-Value="item.CalculateStock"
                                      Color="item.ColumnColor"
                                      IsDisabled="true"
                                      ShowLabel="false" />
              }

            </Template>
          </TableColumn>
          <TableColumn @bind-Field="@context.ProductionId" Text="操作" Width="100">
            <Template Context="value">
              @{
                var item = DTO.Items.FirstOrDefault(b => b.ProductionId == value.Value);
                <BootstrapInputNumber @bind-Value="item.NumberInput"
                                      Color="item.ColumnColor"
                                      ShowLabel="false" />
              }

            </Template>
          </TableColumn>
        </TableColumns>

      </Table>
    </div>
  </div>
}
<div class="row g-3">
  @if (DTO?.OrderItems?.Any() == true)
  {
    <Table TItem="OrderShortDTO" Items="@DTO.OrderItems" ShowFooter="true">
      <TableColumns>
        <TableColumn @bind-Field="@context.ProductionName" Text="产品" />
        <TableColumn @bind-Field="@context.Number" Text="数量" Width="80" />
        <TableColumn @bind-Field="@context.Price" Text="£ 单价" Width="80" />
        <TableColumn @bind-Field="@context.CalculatePrice" Text="£ 总价" Width="100" />
      </TableColumns>
      <TableFooter>
        <TableFooterCell Text="@($"合计 £{DTO?.PackageTotal}")" />
        <TableFooterCell Text="@($"{DTO.OrderItems.Sum(b=>b.Number).ToString()}")">

        </TableFooterCell>
        <TableFooterCell />
        <TableFooterCell Text="@($"£{DTO?.PackageSpend}")">

        </TableFooterCell>
      </TableFooter>
    </Table>

  }
</div>