@inherits StockPurchaseDetailComponent
<div class="row g-3">
  <div class="col-6 col-sm-4">
    <DateTimePicker @bind-Value="@DTO.PurchaseDate" Format="dd/MM/yyyy" ShowLabel="true" DisplayText="采购日期" />
  </div>

  <div class="col-6 col-sm-4">
    <Select Items="Shops" @bind-Value="SelectShopItem" OnSelectedItemChanged="OnItemChanged" ShowLabel="true" DisplayText="选择超市"> </Select>
  </div>
  <div class="col-12 col-sm-4">
    <BootstrapInputNumber @bind-Value="DTO.Price"
                          ShowLabel="true"
                          DisplayText="采购价格" />
  </div>
  <div class="col-12 ">
    <Button OnClickWithoutRender="()=>AddProduction()">添加产品</Button>
  </div>
  <div class="col-12">
    <Table TItem="StockRequireSummaryDTO" Items="@DisplayDTOs">
      <TableColumns>
        <TableColumn @bind-Field="@context.ProductionName" Text="产品">
        </TableColumn>
        @if (DTO.PurchaseId == 0)
        {
          <TableColumn @bind-Field="@context.ProductionId" Text="推荐">
            <Template Context="value">
              @{
                var item = DisplayDTOs.FirstOrDefault(b => b.ProductionId == value.Value);
                var count = 0;
                foreach (var shop in item.RecommandShops)
                {
                  if (count > 0)
                  {
                    <span>,</span>
                  }
                  <span class="@(item.SelectedShop==shop?"text-danger":"")">@shop</span>
                  count++;
                }
              }
            </Template>
          </TableColumn>
        }

        <TableColumn @bind-Field="@context.ProductionId" Text="操作" Width="100">
          <Template Context="value">
            @{
              var item = DisplayDTOs.FirstOrDefault(b => b.ProductionId == value.Value);
              <BootstrapInputNumber @bind-Value="item.Number" Color="Color.Success" />
            }
          </Template>
        </TableColumn>

      </TableColumns>

    </Table>

  </div>
</div>