@inherits ViewStockDispatchPageComponent
@if (DTO != null)
{
  if (DTO.Packages?.Any() == true)
  {
    foreach (var package in DTO.Packages)
    {
      <Card>
        <HeaderTemplate>
          箱子种类:@package.PackageSizeName @package.BriefDiscribtion
        </HeaderTemplate>
        <BodyTemplate>
          <h6>箱数: @package.Number</h6>
          <table class="table">
            <thead>
              <tr>

                <th style="width:70%">产品名</th>
                <th style="width:15%">数量</th>
                <th style="width:15%">总量</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in package.PackageItem)
              {
                <tr>

                  <td> @item.ProductionName </td>
                  <td> @item.Number</td>
                  <td> @item.Number * @package.Number = (@(item.Number * package.Number))</td>
                </tr>
              }
            </tbody>
            <tfoot>
              <tr>

                <th></th>
                <td>@package.PackageItem.Sum(b => b.Number)</td>
                <td>@(package.PackageItem.Sum(b => b.Number) * package.Number)</td>
              </tr>
            </tfoot>
          </table>
        </BodyTemplate>
      </Card>
    }
    <Card>
      <HeaderTemplate>
        汇总
      </HeaderTemplate>
      <BodyTemplate>
        <h6>总箱数: @DTO.Packages.Sum(b => b.Number)</h6>
        <table class="table">
          <thead>
            <tr>

              <th>产品名</th>
              <th>单价</th>
              <th>数量</th>
              <th>价格</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in DTO.Items.GroupBy(b => b.ProductionId))
            {
              <tr>

                <td> @item.FirstOrDefault()?.ProductionName </td>

                <td> @(Math.Round((item.Sum(b => b.Price * b.Number) / item.Sum(b => b.Number)) ?? 0, 4))</td>
                <td> @item.Sum(b => b.Number)</td>
                <td> @(item.Sum(b => b.Price * b.Number))</td>
              </tr>

            }
          </tbody>
          <tfoot>
            <tr>
              <td> </td>
              <td>总产品: @DTO.Items.DistinctBy(b => b.ProductionId).Count() </td>
              <td>总数量: @DTO.Items.Sum(b => b.Number) </td>
              <td>总价格: @DTO.Items.Sum(b => b.Number * b.Price) + @DTO.Packages.Sum(b => b.Number * b.PackagePrice) = @(DTO.Items.Sum(b => b.Number * b.Price) + DTO.Packages.Sum(b => b.Number * b.PackagePrice))</td>
            </tr>
          </tfoot>
        </table>
      </BodyTemplate>
    </Card>
  }
}